# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Editors/IDEs
.vscode/

# OS
.DS_Store

# Environment variables
.env
.env.*
!.env.example
