# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# Editors/IDEs
.vscode/

# OS
.DS_Store
